

<h1>WOL</h1>
<p>
<ol>
<li>In order for WOL to work, create a device that matches the schema below</li>
<pre>
{
  mac: 'my-mac-address'
}
</pre>
<li>Ensure that your router is configured to pass port 9 through to the target PC</li>
</ol>
</p>

